{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"semi": false,
	"printWidth": 80,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-tailwindcss"]
}