name: Barrel File Check
on: [pull_request]

jobs:
  check-barrels:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check for barrel imports
        uses: chintan9/no-barrel-file@v1
        with:
          mode: 'display'
          alias-config-path: 'tsconfig.json'
          extensions: '.ts,.tsx'
